@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Courgette', cursive;;
}

.menuHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
}
.menuHeader a {
  color: black;
  text-decoration: none;
  display: flex;
  font-size: 20px;
}    
.menuHeader li {
  list-style-type: none; 
}  
.menuHeader li a {
  text-decoration: none;
}
.menuHeader li a:hover {
  color: #0a0a0a;
}

.logoPrincipal{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}

.itemList {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.item{
  transition: all 0.15s ease-in-out;
}

.item:hover{
  box-shadow: 0px 0px 12px 0.2px #ccc;
}

.descuento{
  background-color: yellow;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 20px;
}

.verDetalle{
  background-color: black;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 20px;
  text-decoration: none;
}

.verDetalle a{
  text-decoration: none;
  color: white;
}

.precioLista{
  text-decoration: line-through;
}

.active{
  border-radius: 10px;
  border: solid 2px black;
}

.menuFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}    
.menuFooter li {
  list-style-type: none; 
}

.barraNegra{
  padding: 1rem;
  margin: 1rem;
  background-color: black;
}

.colorLetra{
  color: white;
}

.redSocial {
  border-radius: 50%;
  width: 75%; 
}

.foto{
  width: 100%; 
}

.fotoTienda{
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 35%;
  border: 1px solid rgba(100, 100, 100, 0.783);
  box-shadow: 2px 2px 1px 0.5px #181818;
  border-radius: 8px;
  padding: 4px 6px;
}

.counter div {
  display: flex;
  justify-content: center;
}

.counter div .add {
  font-size: 18px;
  margin-top: 10px;
  padding: 6px 8px;
  background-color: #5252524e;
  border: none;
  color: #181818;
  border-radius: 4px;
}

.cantidadSumarRestar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cantidadSumarRestar p {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.cantidadSumarRestar button{
  font-size: 25px;
  width: 100%;
  border: none;
}

.detail {
  display: flex;
  align-items: flex-start;
}

.fotoDetail{
  width: 50%;
  padding: 10px;
  margin: 10px;
}

.contenedorDetalle{
  padding: auto;
  margin: auto;
}

.contenedorCart{
  padding: 20px;
}

.fotoProductoCarrito{
  margin: 20px;
}

.spanCarrito{
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
  color: white;
  border-radius: 100%;
}

.botonEliminar{
  border-color: white;
}

.formulario, .botonFormulario{
  width: 100%;
}

.btn{
  margin: 10px;
  padding: 10px;
}




