@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Courgette', cursive;;
}

.menuHeader {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.menuHeader a {
  color: black;
  text-decoration: none;
  display: flex;
  font-size: 20px;
}    
.menuHeader li {
  list-style-type: none; 
}  
.menuHeader li a {
  text-decoration: none;
}
.menuHeader li a:hover {
  color: #0a0a0a;
}

.menuFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}    
.menuFooter li {
  list-style-type: none; 
}

.barraNegra{
  padding: 1rem;
  margin: 1rem;
  background-color: black;
}

.colorLetra{
  color: white;
}

.redSocial {
  border-radius: 50%;
  width: 75%; 
}

.foto{
  width: 100%; 
}